body {
  background-color: #f9f7fe;
}
* {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.logo {
  padding: 20px;
}
.firstInput:focus {
  outline: 4px solid #86b7fe;
}
@media (min-width: 350px) {
  .container {
    width: 95%;
    background-color: #fff;
    display: block;
    margin: 30px auto;
    border-radius: 20px;
  }
  .firstInput {
    height: 50px;
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 50px;
    width: 50%;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 25%;
    height: 50px;
  }
}
@media (min-width: 600px) {
  .container {
    background-color: #fff;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 50px;
    margin-left: -1%;
  }
  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 50px;
    width: 65%;
  }
}
@media (min-width: 768px) {
  .container {
    background-color: #fff;
    width: 70%;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 50px;
    margin-left: -1%;
  }
  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 50px;
    width: 65%;
  }
}
@media (min-width: 992px) {
  .container {
    background-color: #fff;
    width: 65%;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 50px;
    margin-left: -1%;
  }
  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 50px;
    width: 65%;
  }
}
@media (min-width: 1200px) {
  /* .ThirdSection .Item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  } */
  .Opacity {
    color: #f65282;
    opacity: 0.6;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
  }
  .Item p {
    text-align: center;
    color: #27214266;
    font-size: 16px;
    line-height: 20px;
  }

  .Item img {
    display: block;
    margin: 10px auto;
  }
  /* .Deg span{margin-right: 60px;} */
  .Item {
    padding: 0 30px;

    display: inline-block;
    margin: 3% 2.3%;
  }
  .container {
    width: 50%;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 50px;
    margin-left: -1%;
  }

  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 50px;
    width: 60%;
  }
}
hr {
  border: 1px solid #f9f7fe;
  max-width: 90%;
}

.footer p {
  display: block;
  margin-top: -10px;
  padding: 40px 10px;
  text-align: center;
  color: #27214266;
  font-size: 16px;
}
.footer a {
  color: #885df1;
}
.SecondSection {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.CityDetail h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 20px 0 10px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.CityDetail p {
  color: #27214266;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.DegreeDetail {
  padding: 15px 10px;
}
.DegreeDetail span {
  color: #212121;
  font-size: 80px;
  line-height: 1;
  margin-left: 10px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

.DegreeDetail sup {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -10px;
}
.DegreeDetail img {
  padding: 15px 0;
  aspect-ratio: auto 52 / 52;
}
.red {
  color: #f65282;
}
.reds {
  color: #f65282;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

/* .ThirdSection .Item{
  display: flex;
  flex-direction: column;
} */
