body {
  background-color: #f9f7fe;
}
.logo {
  padding: 20px;
}
@media (min-width: 350px) {
  .container {
    width: 95%;
    background-color: #fff;
    display: block;
    margin: 30px auto;
    border-radius: 20px;
  }
  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 20px;
    width: 50%;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 25%;
    height: 50px;
  }
}
@media (min-width: 600px) {
  .container {
    background-color: #fff;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 50px;
    margin-left: -1%;
  }
  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 20px;
    width: 65%;
  }
}
@media (min-width: 768px) {
  .container {
    background-color: #fff;
    width: 70%;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 50px;
    margin-left: -1%;
  }
  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 20px;
    width: 65%;
  }
}
@media (min-width: 992px) {
  .container {
    background-color: #fff;
    width: 65%;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 50px;
    margin-left: -1%;
  }
  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 20px;
    width: 65%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
  .btn {
    font-size: 16px;
    background-color: #885df1;
    color: white;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 50px;
    margin-left: -1%;
  }
  .firstInput {
    background-color: #f9f7fe;
    color: #27214266;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    height: 20px;
    width: 60%;
  }
}
